<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 1. 인터넷 사용 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 알림 사용 권한 추가 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:name=".KitchenLogApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodKeeper">


        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="true" />

        <service
            android:name="com.foodkeeper.core.notification.FoodKeeperMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- ... MainActivity 설정 ... -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FoodKeeper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. 카카오 로그인에 필요한 액티비티 추가 -->
        <!-- 이 액티비티는 직접 만드는 것이 아니라, SDK 라이브러리에 포함되어 있습니다. -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--
                  중요: "kakao" + "{네이티브 앱 키}" 형식으로 Redirect URI를 설정합니다.
                  예: 네이티브 앱 키가 "123456" 이라면 android:scheme="kakao123456"
                -->
                <data android:scheme="kakao019455b78c75b46224c1828903b55643" />
            </intent-filter>
        </activity>

    </application>

</manifest>
